/* CSS Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin: 0;
    padding: 0;
}

/* index.html CSS */
.divider {
    margin: 5rem;
    border: 1pt solid rgb(100, 100, 100);
    ;
}

.bold {
    font-weight: bolder;
}

.gap {
    gap: 2rem;
}
.green {
    color: green;
}

.italic {
    font-style: italic;
}

.small-caps {
    font-size: .8em;
}

p {
    font-size: 1.5em;
}



header {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(82, 179, 79, 1) 51%, rgba(60, 255, 0, 1) 100%);
    color: white;
    min-height: 6rem;
}

header img {
    height: 5rem;
    width: 2.5rem;

}

header h1 {
    font-size: 3em;
}

.frame {
    width: 100%;
    overflow: hidden;
}

.frame img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.section {
    color: rgb(100, 100, 100);
    gap: 5rem;
    padding: 0 5rem;
}

.section p{
    max-width: 40rem;
}

.pic-frame {
    border-radius: 1rem;
    height: 25rem;
    width: 30rem;
}

.pic-frame img {
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.link img {
    width: 15rem;
    margin-bottom: 3rem;
}

.nav-section a {
    color: rgb(100, 100, 100);
    text-decoration: none
}

form input {
    border: 2pt solid rgb(100, 100, 100);
    font-size: 1.5em;
    padding: .4rem;
}

form button {
    border: 2pt solid rgba(82, 179, 79, 1);
    border-radius: 5rem;
    background-color: white;
    color: rgba(82, 179, 79, 1);
    font-size: 1.5em;
    padding: .4rem;
}

.social-media {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(82, 179, 79, 1) 51%, rgba(60, 255, 0, 1) 100%);
    color: white;
    min-height: 7rem;
    margin: 5rem 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.social-media img {
    max-width: 5em;
}

footer p {
    color: rgb(100, 100, 100);
}



